name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  build-and-publish:
      runs-on: ubuntu-latest
      permissions:
        id-token: write   # required for OIDC
        contents: read

      steps:
        - uses: actions/checkout@v6

        - uses: actions/setup-python@v6
          with:
            python-version: "3.11" # Or whatever the version the package needs

        - name: Install build backend
          run: python -m pip install --upgrade pip build

        - name: Build dists
          run: python -m build

        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            print-hash: true